.chat {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.chat-container {
  width: 400px;
  margin: 40px;
  margin-left: 60%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message-list {
  padding: 20px;
  height: 400px;
  overflow: scroll;
}

.message {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  width: 80%;
}

.sender {
  background-color: #f0f0f0;
  float: left;
  clear: both;
}

.recipient {
  background-color: #cff;
  float: right;
  clear: both;
}

.message p {
  margin: 0;
}

.message span {
  font-size: 12px;
  color: #999;
}

form input {
  width: 20px;
}

.form-div {
  display: flex;
}

.form-div input {
  width: 55%;
}

.send-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #3e8e41;
}

.send-button:active {
  background-color: #3e8e41;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
