.drappointments {
    display: flex;
  }

  .listing{
    width: 500px;
    display: flex;
  }

  
  .appointment-btn {
    background-color: #4CAF50;
    color: #fff;
    width: 50%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .appointment-btn:hover {
    background-color: #3e8e41;
  }