.drhome{
    display: flex;
}

.user-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
  }
  
  .user-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 250px;
  }
  
  .user-card h2 {
    margin-top: 0;
  }
  
  .user-card p {
    margin-bottom: 10px;
  }
  
  .user-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
  }