.home {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.appointment-h2 {
  margin-top: 40px;
}

.appointment-list {
  width: 50%;
}

.main-content {
  flex: 1;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
  gap: 20px;
  width: 80%;
}

.grid div {
  border-radius: 12px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 20px;
}

.grid div h2 {
  text-align: center;
  padding: 40px;
}

.grid div button {
  background-color: #4c6aaf;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 180px;
}

.grid div button:hover {
  background: rgb(59, 86, 217);
}

.grid div button:hover {
  background: white;
  color: black;
}

.grid > div {
  width: 100%;
}
