.userrecord{
    display: flex;
}

.medical-record-card {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 40%;
  text-align: center;
}

.record-section {
  margin-bottom: 20px;
}

.record-section h2 {
  margin-top: 0;
}

.record-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.record-section li {
  margin-bottom: 10px;
}

.record-section li span {
  font-weight: bold;
  margin-right: 10px;
}